<footer class="ts-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="ts-footer-social text-center mb-30">
					<ul>
						<li>
							<a href="https://www.linkedin.com/groups/8824938/"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
				<!-- footer social end-->
				<div class="footer-menu text-center mb-25">
					<ul>
						<li><a href="privacy.pdf">Privacy</a></li>
						<li><a href="committees.html">Committees</a></li>
						<li><a href="/programme.html">Programme</a></li>
						<li><a href="https://forms.iit.it/embed.php?id=296602">Registration</a></li>
					</ul>
				</div><!-- footer menu end-->
				<div class="copyright-text text-center">
					<p>Copyright &copy; 2021 Protein Electrostatics. All Rights Reserved. Crafted by <a
							href="https://www.github.com/pedrishi" style="color: white">Pedro Reis</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>